* {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow: visible;
    scroll-behavior: smooth;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing {
    background-color: #222831;
    height: 90vh;
}

#aboutme {
    background-color: #393E46;
    height: 110vh;
    z-index: 0;
}

#projects {
    background-color: #222831;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poiret One';
    font-weight: bold;
    letter-spacing: 5px;
    z-index: 1;
    transition: all 1s;
    position: absolute;
    bottom: 0vh;
}

.fixed-nav {
    position: fixed;
    top: 0;
    border-radius: 0 0 15px 15px;
}

.socialMediaIcons>a {
    margin: 1rem;
}

.nav-item>a, .nav-item>a>img {
    background-color: transparent;
}

li.nav-item {
    background-color: transparent;
    color: black;
    list-style: none;
    padding: 0.5rem;
    transition: all 0.5s;
    cursor: pointer;
}

li.nav-item:hover {
    transform: translateY(-0.15rem);
    letter-spacing: 7px;
}

h1 {
    font-family: 'Poiret One';
    color: white;
    letter-spacing: 5px;
    height: 2rem;
}

.fa-brands, .fa-solid {
    color: white;
    padding: 1rem;
    transition: all 0.5s;
}

.fa-brands:hover, .fa-solid:hover {
    font-size: 3em;
}

.logoContainer {
    text-align: center;
    margin: 2rem;
}

.nav-item>a>img {
    width: 50px;
}

.logoContainer img {
    width: 250px;
}

.socialMediaIcons {
    width: 80%;
    height: 15%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.socialMediaIcons img {
    width: 2em;
    padding: 1rem;
    transition: all 0.5s;
}

.socialMediaIcons img:hover {
    width: 3em;
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {
    nav {
        letter-spacing: 2px;
        bottom: 10vh;
    }    
    li.nav-item:hover {
        letter-spacing: 4px;
    }
    #landing {
        height: 80vh;
    }
}